.chat_section {
  margin-top: 35px;
}
.chat_section .container:first-child {
  padding: 10px;
  border: 1px solid #d6cece;
  border-radius: 5px;
  margin-bottom: 15px;
}
.chatterbox_head {
  position: relative;
}
.wrapper {
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 25px;
}
/* ---------------left part ---------------*/


.search_filter_Box {
  background-color: #4abfb3;
  padding: 5px;
}
.searchbar {
  display: inline;
}

.chat_listbox {
  height: 500px;
  overflow: auto;
  border: 1px solid lightgray;
}

.chat_list .row {
  border-bottom: 2px solid rgba(70, 70, 70, 0.141);
}
.chat_list:hover {
  background-color: rgba(243, 153, 104, 0.507);
  cursor: pointer;
}

.chat_list .col-2 {
  margin: 5px 0 0 0;
}
.chat_list img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.chat_list .receiver_name {
  font-size: 13px;
  color: #464646;
  margin: 0 0 2px 0;
  font-weight: 600;
  padding-top: 3px;
}

.chat_list .last_msg {
  font-size: 13px;
  color: #989898;
  width: 95%;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat_list .space_name {
  font-size: 13px;
  color: #4abfb3;
  width: 95%;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
}

.chat_list .last_msg_date {
  float: right;
  color: #1a4680;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  right: 0;
}

/*------------- middle part------------ */
.chatbox_IMG {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  float: right;
}
.client_header {
  margin: 0 auto;
  padding: 5px 0;
  background-color: #4abfb3;
}
.client_name {
  margin-bottom: 0;
  font-size: 16px;
  color: white;
}
.client_loc {
  margin-bottom: 0;
  color: white;
}
.client_header .fa-refresh {
  font-size: 21px;
  color: white;
}
.client_header .fa-refresh:hover {
  cursor: pointer;
}

.chatbox {
  background-color: #f0f8fe;
  padding-top: 10px;
  height: 400px;
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid lightgray;
}

.clientpart {
  margin-left: 5%;
}
.hostpart {
  padding-right: 0;
}
.clientMSGS,
.hostMSGS {
  margin-bottom: 20px;
}
.msgpart {
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  line-height: 1.3;
  border-radius: 5px;
}
.msgpart_CLI {
  background-color: rgba(243, 150, 104, 0.6);
}
.msgpart_HOST {
  background-color: rgba(74, 191, 179, 0.3);
}
.timingpart {
  padding-left: 10px;
  color: #4abfb3;
  font-size: 9px;
}

/* commentbox */
.commentBox {
  padding: 5px;
  background-color: #f0f8fe;
  border: 1px solid rgba(68, 68, 68, 0.141);
  /* position: sticky; */
  bottom: 0;
}
.cb_row {
  margin-left: 0;
  margin-right: 0;
}
.att_LOGO {
  width: 40px;
}
.col_ATC {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}
.send_Attachment {
  background-image: url("/assets/logo/attachment.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#File01 {
  opacity: 0;
}
.col_MSG {
  padding-right: 0;
  padding-left: 0;
}
.fg_message {
  margin-bottom: 0;
}

.col_SND {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.send_DIV {
  text-align: center;
}
.send_logo {
  width: 40px;
}
.btn_send {
  padding: 0;
  margin: 0;
  background-color: unset;
}

/* right side/attachments */
.attachment_list {
  background-color: #ebe7e3;
  margin-right: 0;
  margin-left: 0;
  padding: 5px 0;
  border-bottom: 1px solid #f3f3f3;
  color: #464646;
}
.file_scroll {
  height: 493px;
  overflow: auto;
}
.imgDIV {
  padding-left: 5px;
  padding-right: 5px;
}
.attachment {
  padding-left: 0;
  padding-right: 15px;
}
.achT1 {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  background-color: #4abfb3;
  padding: 13px 0;
  color: white;
}
.achT2 {
  color: #4abfb3;
}
.fileIMG {
  width: 30px;
}
.uploadedBY {
  font-size: 11px;
}
.file_name {
  font-size: 10px;
}
.view_dwnld {
  font-size: 10px;
  text-align: right;
}
.uploadedBY,
.file_name,
.view_dwnld {
  margin-bottom: 0;
}
.view_dwnld a,
.view_dwnld a:visited {
  color: #4abfb3;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */

  /* left-part */
  .chat_listbox {
    margin-bottom: 25px;
  }

  /* middle part */
  .chatbox {
    padding-left: 0;
    padding-right: 0;
  }

  .clientpart {
    margin-left: 0%;
    margin-right: 15%;
  }
  .hostpart {
    padding-right: 15px;
    margin-left: 10%;
  }

  /*--- right part-- */
  .attachment {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .attachment_list {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media only screen and (min-device-width: 621px) and (max-device-width: 768px) {
  /* For ipad: */
  .col_IMG,
  .col_LIST {
    padding-left: 0;
    padding-right: 0;
  }
  .chat_img {
    width: 75%;
  }
  .chat_ib h6 {
    font-size: 12px;
  }
  .short_chat_msg {
    font-size: 12px;
  }
  .chat_date {
    font-size: 10px;
  }
}

/* search style */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px center;
  border: solid 1px #ccc;
  padding: 5px 10px;
  width: 15px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  /* -webkit-transition: all 0.3s; */
  /* -moz-transition: all 0.3s; */
  /* transition: all 0.3s; */
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
  outline: none;
  cursor: pointer;
  z-index: 5;
}

#search input[type="search"].filled {
  width: 87%;
  padding-left: 32px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;
  border-radius: 5px;
}

input[type="search"]:focus {
  width: 87%;
  border-radius: 5px;
  background-color: #fff;
  border-color: #66cc75;
  padding-left: 32px;
  cursor: auto;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

#search input[type="search"]:hover {
  background-color: #fff;
}

#search input:-moz-placeholder {
  color: transparent;
}

#search input::-webkit-input-placeholder {
  color: transparent;
}
#search input[type="search"].filled:-moz-placeholder {
  color: #4abfb3;
}
#search input[type="search"].filled::-webkit-input-placeholder {
  color: #4abfb3;
}

.searchbar .close {
  z-index: 10;
  margin-top: 4px;
  position: absolute;
  right: 9%;
}

.space_list_drop,
.blank {
  width: 85%;
  display: inline-block;
  margin-right: 2.5%;
}
.space_list_drop .form-control {
  height: 35px;
}

.spaceName option,
.spaceName .op {
  max-width: 100px;
  width: 100px;
}


.toggle_radio {
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  position: relative;
  height: 26px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 212px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type="radio"] {
  display: none;
  /* position: fixed; */
}
.toggle_radio label {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  width: 100px;
  height: 20px;
  font-weight: 600;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  /*margin: 0 2px;*/
  /* background: blue;  */
}
.toggle_option_slider {
  /*display: none;*/
  /* background: red; */
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  border-radius: 50px;
  transition: all 0.4s ease;
}

#first_toggle:checked ~ .toggle_option_slider {
  background: rgba(255, 255, 255, 0.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider {
  background: rgba(255, 255, 255, 0.3);
  left: 109px;
}
