.space_Header {
  background-color: #f39968;
  margin-bottom: 10px;
}

.space_Header h3 {
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 0;
}

.card-header {
  background-color: #4abfb3;
  padding: 9px 20px;
}

.card-header a {
  color: white;
  font-weight: 600;
}

.fa-angle-up {
  float: right;
}

.collapsed .rotate-icon {
  transform: rotate(180deg);
}

.help {
  font-size: 12px;
}

.help a {
  color: #4abfb3;
}

.help .fa-question-circle {
  font-size: 18px;
}

.form-check-inline {
  margin-right: 0;
  padding: 6px 5px;
}

.form-check-inline .form-check-input {
  height: 20px;
  width: 20px;
}

.form-check-label {
  font-size: 13px;
}

.otherAmenity_List li{
  background-color: #c2d1fb;
  padding: 0px 12px;
  border-radius: 3px;
  position: relative;
  margin: 5px;
}
.otherAmenity_List .fa{
  position: absolute;
  top: -10px;
  right: -8px;
}
.minbookTag {
  font-weight: 600;
  color: #4abfb3;
  font-size: 14px;
}

#collapseCalPolicy .form-check {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 3px;
}

.mandatory_P {
  color: #f39868;
  float: left;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 600;
}

.submitDIV .btn {
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 0;
  width: auto;
  margin: 10px;
}
.submitDIV .btn:hover {
  background-color: #f39968 !important;
}

.dropzone {
  height: 150px;
  width: 250px;
  border: 1px dashed grey;
  position: relative;
}

.my-drop-zone {
  width: 300px;
  height: 200px;
  background-image: url('../../../assets/icon/fileupload.png');
  background-position: top;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  border: dashed 2px rgba(74, 191, 179, 0.3);
}

.nv-file-over {
  border: dashed 2px rgba(74, 191, 179, 1);
}

.dropArea p {
  position: absolute;
  margin-bottom: 0;
  font-size: 13px;
}

.chooseFile {
  top: 55%;
  left: 16%;
  border-radius: 3px;
  background-color: rgba(74, 191, 179, 0.3);
  border: 1px solid rgba(74, 191, 179, 1);
  padding: 3px 15px;
}

.chooseFile:hover {
  cursor: pointer;
}

.chooseFileText {
  top: 70%;
  left: 19%;
}

.imagePreview img {
  width: 100%;
  height: 55px;
  object-fit: cover;
}

.trashImage {
  position: absolute;
  top: -10px;
  right: 5px;
  transform: rotate(45deg);
  cursor: pointer;
}

@media only screen and (max-width:1112px) {
  /* For mobile phones: */
 
  .submitDIV .btn {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
    width: auto;
    margin: 10px;
  }
  
}
@media only screen and (max-width:768px) {
  .submitDIV .btn {
    font-size: 14px;
    padding: 10px 5px;
    width: auto;
  }
  .space_Header {
    background-color: #f39968;
    margin-bottom: 10px;
    margin-top: 30px;
  }
}
@media only screen and (max-width:375px) {
  /* For mobile phones: */
  .form-check-label {
    font-size: 14px;
  }
  .submitDIV .btn {
    font-size: 13px;
    padding: 10px 0px;
    border-radius: 0;
    width: auto;
    margin: 10px;
  }
  
}


#tabs .mytabs{
  width: 100%;
}
.day_checkbox{
  width: 90px;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  padding: 0px 10px;
  width: 75px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #ffa500;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.custom-day.selected{ 
  background-color: rgba(224, 62, 62, 0.5);
    
}
.disabled.custom-day{ 
  pointer-events: none;
  color: #e0e0e0;
}