<div class="rent image">
  <div class="rent_section">
    <div class="container">
      <div class="row text-center rentTag">
        <div class="col-md-6 col-xs-12 col-sm-12" style="margin: auto">
          <h2 class="rent_T1">Do you have a lonely space to share?</h2>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 rentBTN">
          <button type="button" class="btn btn_rent_submit" routerLink="/user-dashboard/create-space">Submit your space!</button>
        </div>
      </div>
    </div>
  </div>
</div>