<div class="rewardsection">
	<div class="container">
		<div class="row row1">
			<div class="col-md-6 col-sm-12 col-xs-12 img_part">
				<div class="left">
					<!-- <img src="assets/img/reward.jpg" alt=""> -->
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 row2">
				<div class="right">
					<h3 class="rdT1">BE REWARDED</h3>
					<h2 class="rdT2">It’s a Human Thing!</h2>
					<p class="pMT">Sharing is an innate human mechanism engrained within our
						DNA. It is tribal; it is instinctive; and it is part of what makes
						us who we are. People have been sharing since the dawn of time; trading
						and bartering their goods and services to survive.</p>
					<p class="pMT">Modern Technology allows us to share beyond the
						geographical barriers and reach out to others to acquire
						what we need, when and where we need it.</p>
					<p class="pMT"><strong>Why sharing feels good:</strong></p>
					<ol class="rdSec">
						<li>It is great for the environment. There are trillions of dollars’ worth of unused resources in the world and
							that's why getting involved in the share economy enables these resources to be utilised more efficiently and
							saves energy and reduces waste..</li>
						<li>You get to connect with your community and meet like-minded people</li>
						<li>You become part of a global share community and network of awesome individuals, saving our planet one space
							at a time.</li>
						<li>You get to be as creative as you want, when repurposing your underutilised space i.e. a repurposed garage can
							be transformed into a gorgeous
							Yoga Studio...</li>
						<li>By sharing unique spaces for others to enjoy at a fair price; you can earn spare cash – so everyone WINS!</li>
						<li>Share your unique skills and knowledge in the comfort of your own space</li>
					</ol>
					<div class="btn_rew">
						<button type="button" class="btn reward_btn">
							 <a href="user-dashboard/create-space" style="color:#fff;">Share Now</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>